@import "../../../../../scss/header";
@import "../../../../../scss/job-opening-button";
@import "../../../../../scss/mixins.scss";
section {
  .training-card {
    @include grid('grid-template-columns','33% 33% 33%');
    gap: 10px;
    margin-top: 30px;
    .card {
      border: 1px solid rgba(150, 165, 184, 0.3);
      background-color: $button-text-color;
      padding: 0px 16px 16px 16px;
      border-radius: 10px;
      width: 450px;
      .image {
        background-color: $training-image-background;
        border-radius: 10px;
        figure {
          @include fpos(center,center);
          padding: 30px;
        }
      }
      .content {
        .topContent {
          @include fpos(center,space-between);
          border-bottom: 1px solid $border-color;
          margin-top: 10px;
          height: 50px;
          .title {
            font-weight: 500;
            font-size: 22px;
          }
          .completeStatus {
            background-color: $training-status-background;
            color: $button-text-color;
            padding: 0px 6px;
            font-size: 13px;
            font-weight: 500;
          }
        }
        .middleContent {
          border-bottom: 1px solid $border-color;
          .labels {
            @include fpos(center,space-between);
            .labelData {
              // height:88px ;
              .label {
                font-size: 12px;
                color: $award-text-color;
                margin-bottom: 0px !important;
              }
              .labelsData {
                font-weight: 500;
                font-size: 18px;
              }
            }
          }
        }
        .buttonGroup {
          @include fpos(center,space-between);
          margin-top: 10px;
          .view {
            padding: 1px 64.5px;
            border: none;
            color: $directory-header-color;
            cursor: pointer;
            background-color: rgba(24, 28, 33, 0.06);
            &:hover {
              box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 15%), 0px 4px 5px 0px rgb(0 0 0 / 10%),
                0px 1px 10px 0px rgb(0 0 0 / 6%);
              color: $black-color;
            }
          }
          .classyButton {
            padding: 9.36px 70px;
            border-radius: 2px !important;
            font-size: 15px;
            &:hover {
              box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 15%), 0px 4px 5px 0px rgb(0 0 0 / 10%),
                0px 1px 10px 0px rgb(0 0 0 / 6%);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1767px) {
  .card {
    width: auto !important;
  }
  .buttonGroup {
    flex-direction: column;
    gap: 20px;
    .view {
      width: 100% !important;
    }
    .classyButton {
      width: 100% !important;
    }
  }
}
@media (max-width: 1231px) {
  section {
    .training-card {
      grid-template-columns: auto auto;
    }
  }
}
@media (max-width:957px){
  .card{
    width: 300px !important;
  }
}
@media (max-width: 725px) {
  section {
    .training-card {
      grid-template-columns: auto;
      .card{
        width: auto !important;
      }
      .buttonGroup {
        flex-direction: row;
      }
    }
  }
}
@media (max-width:512px){
  .buttonGroup {
    flex-direction: column !important;
  }
}
@media(max-width:374px){
  .middleContent {
    .labels {
      .labelData {
        height: 75px;
      }
    }
  }
}
@media (max-width: 319px) {
  section {
    padding: 10px !important;
  }
}
@media (max-width: 289px) {
  section {
    padding: 0px !important;
  }
}
