@import "../../../../../scss/var";
section {
  .heading {
    padding: 16px 16px 0px 16px;
    border-bottom: 1px solid $border-color;
    .header {
      font-size: 24px;
      font-weight: 500;
    }
  }
  .container {
    padding: 16px;
  }
}
