@import "../../../../scss/mixins.scss";
@import "../../../../scss/var";
@import "../../../../scss/error";
section {
  .form {
    .formGroup {
      .inputFields {
        margin: 0px 55px;
        .Input {
          @include flexbox();
          flex-direction: column;
          .labels {
            font-weight: 500;
          }
          .input-2 {
            margin-top: -10px;
            margin-bottom: 10px;
          }
          .pointer {
            color: $button-color;
          }
        }
      }
      .forgot {
        @include flexbox();
        max-height: 40px;
        .forgotPassword {
          margin: -6px 49px;
          padding: 10px 7px;
          color: #1e70cd;
          border: none;
          background-color: transparent;
          font-size: 14px;
          font-weight: bold;
          @include cursor();
        }
      }
      .button {
        position: relative;
        float: right;
        right: 55px;
        top: 10px;
        .icon {
          background-color: $button-color;
          color: $button-text-color;
          padding: 10px;
          font-size: 15px;
          border: none;
          cursor: pointer;
          .loginButton {
            color: $button-text-color;
            font-weight: 600;
            font-size: 16px;
          @include buttonTransparent();
          }
        }
      }
    }
  }
  ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0px !important;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: rgba(0, 0, 0, 0) !important;
    }
    .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: $button-color !important;
    }
  }
}
