<section>
  <div class="form">
    <form class="formGroup" [formGroup]="loginForm" (ngSubmit)="loginHandler()">
      <div class="inputFields">
        <div class="Input input-1">
          <label class="labels">{{loginMessage.EMAIL_LABEL}}</label>
          <mat-form-field appearance="fill">
            <input matInput [placeholder]="loginMessage.EMAIL_PLACEHOLDER" formControlName="email">
            <mat-error *ngFor="let error of errorMessage?.email">
              <mat-error *ngIf="loginForm?.get('email')?.hasError(error?.type)" class="alertMessage">
                <span class="errorMessage">{{error.message}}</span>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <span>
          <app-common-password-input [data]="loginMessage.PASSWORD_LABEL" [appearanceType]="'fill'" [formcontrolname]="formControl.password" [errorMessage]="errorMessage.password"></app-common-password-input>
        </span>
      </div>
      <span class="forgot">
        <button class="forgotPassword"
          [routerLink]="['ABS_ACCOUNT_FORGOT_PASSWORD' | absoluteRouting]">{{loginMessage.FORGOT_PASSWORD}}</button>
      </span>
      <div class="button">
        <button class="icon" type="submit">
          <i class="fa-solid fa-user-lock"></i>
          <button class="loginButton">{{loginMessage.LOGIN}}</button>
        </button>
      </div>
    </form>
  </div>
</section>
