<div class="formfield">
  <label class="labels">{{data}}</label>
  <mat-form-field [appearance]="appearanceType">
    <input [placeholder]="data" matInput (keydown.space)="$event.preventDefault()" [formControl]="formcontrolname"
      [type]="hide ? 'password' : 'text'" required>
    <mat-error *ngFor="let error of errorMessage">
      <mat-error *ngIf="formcontrolname?.hasError(error?.type)" class="alertMessage">
        <span class="errorMessage">{{error.message}}</span>
      </mat-error>

    </mat-error>
    <mat-icon class="pointer" matSuffix (click)="hide = !hide">
      <span>{{hide ? 'visibility_off' : 'visibility'}}</span>
    </mat-icon>
  </mat-form-field>
</div>
