@import "../../../scss/mixins.scss";
@import "../../../scss/var";
@import "../../../scss/error";
section {
  .container1 {
    .titleDiv {
      @include flexJustify(center);
      font-size: 18px;
      color: $font-color;
    }
    .subtitle {
      @include flexJustify(center);
      margin-right: 15px;
      .instruction {
        width: 280px;
        border-top: 1px solid $border-color;
        padding-top: 15px;
        word-wrap: break-word;
        font-size: 16px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }
    .input-1 {
      margin: 10px 50px;
      .mat-form-field {
        width: 300px;
        .emailInput {
          margin-left: -10px !important;
          font-size: 14px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
      }
    }
    .recoverButton {
      @include buttonDiv();
      margin: 0px 50px;
      max-width: 300px;
      .recoverPassword {
        @include buttonStyle();
        padding: 0.6rem 4.75rem;
        &:hover {
          @include buttonHover();
        }
      }
    }
    .backBtn {
      @include buttonDiv();
      margin-top: 3rem;
      .backLogin {
        @include buttonStyle();
        padding: 0.6rem 8.8rem;

        &:hover {
          @include buttonHover();
        }
      }
    }
  }
}

::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $button-color !important;
  }
}

@media only screen and (max-width: 380px) {
  section {
    .container1 {
      .input-1 {
        margin: 10px 20px;
        .mat-form-field {
          width: 250px;
        }
      }
      .recoverButton {
        margin: 0px 35px;
      }
    }
  }
}
