<section>
  <div class="container1">
    <div class="titleDiv">
    <p class="title">{{uiMessage.FORGOT_TITLE}}</p>
  </div>
  <span class="subtitle">
    <p class="instruction">{{uiMessage.FORGOT_INSTRUCTION}}</p>
  </span>
  <form [formGroup]="forgotForm" (ngSubmit)="forgotHandler()">
  <div class="input-1">

    <mat-form-field appearance="fill">
      <input class="emailInput" [placeholder]="uiMessage.EMAIL_PLACEHOLDER" formControlName="email"  matInput >
      <mat-error *ngFor="let error of errorMessage?.email">
        <mat-error *ngIf="forgotForm?.get('email')?.hasError(error?.type)" class="alertMessage">
          <span class="errorMessage">{{error.message}}</span>
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <span class="recoverButton">
    <button class="recoverPassword" type="submit">{{uiMessage.FORGOT_BUTTON | uppercase}}</button>
  </span>
</form>

  <div class="backBtn">
    <button class="backLogin" [routerLink]="['ABS_ACCOUNT_LOGIN' | absoluteRouting]">{{uiMessage.BACK_TO_LOGIN | uppercase}}</button>
  </div>
</div>
</section>
