.alertMessage {
  width: 300px;
}

.alertMessage .errorMessage {
  font-size: 12px;
  font-weight: 550 !important;
  margin-left: -10px;
  font-family: inherit;
}

section .container1 .titleDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: gray;
}

section .container1 .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

section .container1 .subtitle .instruction {
  width: 280px;
  border-top: 1px solid gainsboro;
  padding-top: 15px;
  word-wrap: break-word;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

section .container1 .input-1 {
  margin: 10px 50px;
}

section .container1 .input-1 .mat-form-field {
  width: 300px;
}

section .container1 .input-1 .mat-form-field .emailInput {
  margin-left: -10px !important;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

section .container1 .recoverButton {
  border: 1px solid #26b4ff;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0px 50px;
  max-width: 300px;
}

section .container1 .recoverButton .recoverPassword {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #26b4ff;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  padding: 0.6rem 4.75rem;
}

section .container1 .recoverButton .recoverPassword:hover {
  background-color: #26b4ff;
  color: white;
  -webkit-transition: -webkit-box-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: -webkit-box-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, -webkit-box-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section .container1 .backBtn {
  border: 1px solid #26b4ff;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 3rem;
}

section .container1 .backBtn .backLogin {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #26b4ff;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  padding: 0.6rem 8.8rem;
}

section .container1 .backBtn .backLogin:hover {
  background-color: #26b4ff;
  color: white;
  -webkit-transition: -webkit-box-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: -webkit-box-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, -webkit-box-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0, 0, 0, 0) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #26b4ff !important;
}

@media only screen and (max-width: 380px) {
  section .container1 .input-1 {
    margin: 10px 20px;
  }
  section .container1 .input-1 .mat-form-field {
    width: 250px;
  }
  section .container1 .recoverButton {
    margin: 0px 35px;
  }
}
/*# sourceMappingURL=forgot-password.component.css.map */