<section>
  <span class="header">
    <h3 class="heading">{{title}}</h3>
  </span>
  <div class="card-content">
    <div class="job-detail-card" *ngFor="let item of cardLogo">
      <div class="image">
        <figure>
          <img [src]="item.image" class="showImage">
        </figure>
        <div class="address">
          <div class="location">
            <i class="fa-solid fa-location-dot" id="location-icon"></i>
            <p class="location-name">{{item.LOCATION}}</p>
          </div>
          <div class="date">
            <p>{{item.DATE}}</p>
          </div>
        </div>
      </div>
      <div class="area">
        <h1>{{item.HEADING}}</h1>
        <p>{{item.TEXT}}</p>
      </div>
      <div class="requirement">
        <p>{{item.OPENING_NUMBER_TEXT}}</p>
        <p>{{item.EXPERIENCE}}</p>
      </div>
      <div class="requirement1">
        <p>{{item.OPENING_NUMBER}}</p>
        <p>{{item.EXPERIENCE_NUMBER}}</p>
      </div>
      <div class="buttonGroup">
        <button class="button-view" (click)="openCityInNewWindow(item)">
          {{item.BUTTON_VIEW}}
        </button>
        <button class="button-refer classyButton" (click)="openDialog(item)">
          {{item.BUTTON_REFER}}
        </button>
      </div>
    </div>
  </div>
</section>

