@import "../../../../../scss/var";
@import "../../../../../scss/mixins.scss";
section {
  margin:20px 30px;
  background-color: $button-text-color;
  border-radius: 10px;
  .content {
    padding: 20px;
    .header {
      border-bottom: 1px solid $border-color;
      .header-text {
        color: $header-text-color;
        font-weight: 500;
      }
    }
  }
  ::ng-deep{
    // .mat-paginator-range-label {
    //   left: 45px !important;
    // }
    // .mat-paginator-page-size {
    //   position: absolute;
    //   top: 110px ;
    //   left: 60px ;
    // }
  }
}
