<section @slideInRight>
  <mat-card class="basic-card">
    <div class="header">
      <p class="header-text">{{uiMessage.CHANGE_PASSWORD_HEADER}}</p>
    </div>
    <div class="content">
      <form class="form" [formGroup]="forgotForm" (ngSubmit)="submitHandler()">
          <span>
            <app-common-password-input [data]="labelMessage.OLD_PASSSW0RD" [appearanceType]="'outline'" [errorMessage]="errorMessage.oldPassword" [formcontrolname]="forgotFormControl.oldPassword"></app-common-password-input>
          </span>
          <span>
            <app-common-password-input [data]="labelMessage.NEW_PASSWORD" [appearanceType]="'outline'" [errorMessage]="errorMessage.newPassword" [formcontrolname]="forgotFormControl.newPassword"></app-common-password-input>
          </span>
          <span>
            <app-common-password-input [data]="labelMessage.CONFIRM_PASSWORD" [appearanceType]="'outline'" [errorMessage]="errorMessage.confirmPassword" [formcontrolname]="forgotFormControl.confirmPassword"></app-common-password-input>
          </span>
        <div class="classyButton">
          <button class="saveButton" type="submit">{{uiMessage.BUTTON}}</button>
        </div>
      </form>
    </div>
  </mat-card>
</section>
