@import "../../.././../../scss/mixins.scss";
@import "../../../../../scss/var";
@import "../../../../../scss/header";
section {
  .table-card{
    background-color: $button-text-color;
    padding: 25px 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    .dropdownsField{
      @include grid('grid-template-columns','25% 25%');
      gap: 15px;
    }
  }
}
@media (max-width:1100px){
  section {
    .table-card{
      .dropdownsField{
        grid-template-columns: auto;
        .field{
          width: auto !important;
        }
      }
    }
  }
}
