@import "../../../../../../scss/var";
section{
  .last-container {
    margin: 20px 0px;
    background-color: $button-text-color;
    border-radius: 10px;
    .content {
      padding: 20px;
      .header {
        border-bottom: 1px solid $border-color;
        .header-text {
          color: $header-text-color;
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }
  ::ng-deep{
    .mat-paginator-range-label {
      left: 45px !important;
    }
    .mat-paginator-page-size {
      position: absolute;
      top: 425px;
      left: 60px;
    }
  }
}
