@import "../../../../../scss/var";
@import "../../../../../scss/mixins.scss";

section {
  @include grid("grid-template-columns", "30% 30% 30%");
  gap: 50px;
  .card {
    background-color: $button-text-color;
    margin: 50px 0px;
    padding: 20px;
    .icon {
      color: $award-img-name-color;
    }
    header {
      @include fpos(baseline, space-between);
      .project-heading {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .time {
      display: flex;
      gap: 15px;
      margin-top: 20px;
      .material {
        color: #6658dd;
        background-color: rgba(102, 88, 221, 0.18);
        border-color: rgba(102, 88, 221, 0.12);
        border-radius: 5px;
        padding: 4px;
        font-weight: 500;
      }
      .progress {
        color: #d9534f;
        background-color: rgba(217, 83, 79, 0.25);
        font-weight: 500;
        border-radius: 5px;
        padding: 4px;
      }
    }
    .no-milestones {
      font-size: 16px;
      font-weight: 500;
      color: $award-img-name-color;
    }
    .resources {
      margin-top: 20px;
      @include fpos(center, space-between);
      gap: 10px;
      color: $award-img-name-color;
      .text {
        margin: 0px 4px;
        font-weight: 500;
        font-size: 15px;
      }
    }
    .images {
      @include fpos(center, flex-start);
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 10px;
      .emp-image {
        width: 80px;
        height: 65px;
        border-radius: 50%;
      }
    }
    .complete {
      font-size: 18px;
      font-weight: 500;
      margin-top: 20px;
    }
  }
}

@media (max-width:1400px){
  section{
    grid-template-columns: auto auto;
  }
}
@media (max-width:700px){
  section{
    grid-template-columns: auto;
  }
}

// @media (max-width: 750px) {
//   section {
//     .card {
//       .time {
//         flex-direction: column;
//       }
//       .resources {
//         flex-direction: column;
//       }
//     }
//   }
// }
