@import '../../scss/var';
@import '../../scss/mixins.scss';
@import '../../scss/job-opening-button';

.page-not-found {
    text-align: center;
    @include fpos(center, center);
    flex-direction: column;
    min-height: 100vh;
    padding: 50px 20px;
    background-color: $light-gray;

    h1 {
        font-size: 100px;
        letter-spacing: 7px;
        color: $blue;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 20px;
        color: $blue;
    }
    .classyButton{
      margin-top: 20px;
      padding: 15px 30px;
    }
}
