<section>
  <header>
    <app-header [smallWindow]="smallWindow" (stateChange)="updateIsExpanded($event)">
      <div class="notificationIcon" (click)="toggleNotification()">
        <mat-icon class="notification icon">notifications</mat-icon>
      </div>
    </app-header>
  </header>
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav="matSidenav" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()" position="start">
      <app-sidenav [isShowing]="isShowing"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="sideContent">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <footer>
        <app-footer></app-footer>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
<!-- <mat-drawer-container> -->
<mat-drawer #drawer  mode="side" position="end" [ngClass]="(this.drawer.opened)?'isActive':'noActive'">
  <i class="fa-solid fa-xmark" (click)="toggleNotification()"></i>
  <div class="card">
    <div class="card-header">
      <p>No new notifiation </p>
    </div>
    <div class="card-content">
      <p class="card-text">-</p>
    </div>
  </div>
</mat-drawer>
<!-- </mat-drawer-container> -->
