@import "../../../../../scss/mixins.scss";
@import "../../../../../scss/var";
section {
  .basic-card {
    padding: 0px !important;
    .header {
      .header-text {
        color: $header-text-color;
        font-size: 20px;
        padding: 11px 25px 11px 15px;
        font-weight: 600;
        border-bottom: 1px solid $border-color;
      }
    }
    .content {
      .form {
        padding: 20px;
        .label {
          font-weight: 500;
        }
        .formfield {
          display: flex;
          flex-direction: column;
        }
        .increaseFormfield {
          width: 369px;
        }

        ::ng-deep {
          .mat-form-field-appearance-outline .mat-form-field-flex {
            box-shadow: 0px 4px 8px rgb(44 39 56 / 4%) !important;
          }
          .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 12px 0px 12px 0px;
          }
          .mat-select-disabled .mat-select-trigger {
            cursor: not-allowed !important;
          }
        }
        .inputs {
          display: flex;
          gap: 30px;
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 1390px) {
  section {
    .basic-card {
      .content {
        .form {
          .increaseFormfield {
            width: auto !important;
          }
          .inputs {
            flex-direction: column;
          }
        }
      }
    }
  }
}
@media (min-width: 150px) and (max-width: 320px) {
  section {
    .basic-card {
      .content {
        .form {
          .increaseFormfield {
            width: 100px;
          }
          .inputs {
            flex-direction: column;
          }
        }
      }
    }
  }
}
